doctype html
html
  head
    title My Photography Portfolio
    link(rel="stylesheet", href="/css/styles.css") 
  body
    .container
      header
        a(href='/') 
          h1 Almost Pedro Creatives
        h2 By Jupet Jagonos
      .content-overlay 
        block content 
      .button-container 
        a(href='/addPhoto') Upload Photo
        a(href='/addService') Add Service
        a(href='/blog/add') Write Blog
      footer
        p &copy; 2024 My Portfolio 
