extends layouts/layout

block content
  section
    p.description
      | Jupet Jagonos, a Southeast Asian photographer now based in Toronto. His orthodox style honed from street photography where he believes that no two photos are the same; The money shot — right place at the right moment.
  
    p.description
      | Jupet rebrands himself as “almost,” celebrating a new start here in Toronto while encapsulating his could’ve beens in the past and “Pedro” as a respect to his father’s dreams and plans.
      
    .button-container
         a(href='/portfolio') View My Portfolio
         a(href='/service') View Our Services
         a(href='/blog') Read My Blog

